{
	"master":{
		"master_working_directory": "/Users/mymac/Desktop/Assignments/DIP-Assignments/Project/code/"
	},
	"image": {
		"image_directory": "images"
	},
	"syslog": {
		"log_directory": "/Users/mymac/Desktop/Assignments/DIP-Assignments/Project/code/config",
		"log_file": "project.log",
		"log_message_format": "%(asctime)s - %(levelname)s - %(message)s",
		"log_file_mode": "w",
		"log_level": 0
	}
}